<div class="container-fluid">
    <h1>Learning ngIF and ngFor</h1>
    <button (click)="handleClick()" class="btn btn-danger">Toggle</button>
    <div >Counter :{{counter}} </div>
    <table *ngIf="users" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th><th>Name</th><th>age</th><th>Salary</th><th>DOB</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ele of users">
        <td>
                {{ele.id}}
        </td>
        <td>
            {{ele.name | uppercase}}
        </td>
        <td>
            {{ele.age}}
        </td>
        <!--Angular Pipes-->
        <td>
            {{ele.salary |  currency:'INR'}}
        </td>
        <td>
            {{ele.dob | date : "dd-MM-yyyy"}}
        </td>
</tr>
</tbody>
</table>
<div>
    {{users|json}}
</div>
</div>


