<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <h2> Databinding</h2>
        <h2>Interpolation</h2>
        <h3> Username: {{username}} </h3>
        <div>
            <h2>Event Binding</h2>
            <input type="text" #un (input)="handleChange(un.value)"> 
            <button class="btn btn-primary" [disabled]="isDisabled" (click) ='updatename(un.value)'>Change Name</button>
        </div>
        <div>
            <h2>Two Way Binding</h2>
            <input [(ngModel)] = 'firstname'> <br />
            <input [(ngModel)] = 'lastname'> <br />
            <input [(ngModel)] = 'firstname'> <br />
            <input [(ngModel)] = 'lastname'> <br />
        </div>
        <h2>Class Binding</h2>
        <div [class.one]='isDisabled'>
            <h1>is disabled :{{isDisabled}}</h1>
        </div>
        <div class="one"> 
            <p> using class directly </p>
        </div>
        <div [style]="mystyles">
            <h2>Style Binding</h2>
            <P>isntead of using css i used the typescript file to make a style</P>
            <button class="btn btn-primary" onclick="alert('hey')" >Hey Hey</button>
        </div>
    </div>
</body>
</html>
